@import url("https://fonts.googleapis.com/css?family=Lato");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

#render-canvas {
  width: 100%;
  height: 100%;
}

#fpsLabel {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  pointer-events: none;
  font-weight: 800;
  color: white;
}
